body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 252, 214) 0%,
    rgba(255, 102, 102, 0.44) 90%
  );
  padding-top: 50px;
  padding-bottom: 100px;
}
.container-search {
  padding-top: 20px;
  margin-bottom: 20px;
}
#city-input {
  border-radius: 5px;
}
#city-form {
  display: inline;
}
#search-button {
  background: rgba(239, 110, 110, 0.899);
  border-color: rgba(239, 110, 110, 0.899);
  border-radius: 4px;
  color: white;
  transition: all 200ms ease-in-out;
}

h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
  text-transform: capitalize;
  margin: 0px;
  padding: 5px;
}

.container-currentConditions {
  text-align: center;
  border: 1px solid rgb(141, 147, 154);
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
}
.current-data {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.left-cdata {
  text-align: left;
  list-style: none;
}

#num-temp {
  font-size: 40px;
}

#c-link {
  color: rgb(110, 110, 231);
  text-decoration: none;
}

#f-link {
  color: rgb(110, 110, 231);
  text-decoration: none;
}
.units {
  position: relative;
  top: -18px;
  font-size: 16px;
}
.weather-temperture.active {
  color: black;
}

.sunny-current {
  font-size: 100px;
}
.container-forecast {
  padding-bottom: 50px;
  margin-left: 10px;
  text-align: center;
  color: black;
}
.container-forecast-date {
  font-size: 16 px;
}
.container-forecast-temperatures {
  font-size: 13px;
}
.container-forecast-temperature-min {
  opacity: 0.5;
}
p {
  padding-top: 50px;
}

.footnote {
  padding-top: 10px;
  text-align: center;
}
